.intro{
    width: 70vw;
    height: auto;
    background-color: rgb(228, 233, 248);
    border-radius: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
    box-shadow: 1px 1px 10px rgb(212, 211, 211);
}

.video{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
iframe{
    margin: auto;
    width: 100%;
    border-radius: 10px;
}
.contentbox{
    display: grid;
    place-content: center;
}
.contentbox p{
    font-size: 20px;
    margin: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}
@media (max-width:1000px) {
    .intro{
        width: 70vw;
        margin-top: 100px;
    }
    iframe{
        height: 200px;
    }
}
@media (max-width:500px) {
    .intro{
        margin-top: 80px;
        width: 90vw;
    }
}