#Rbg{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    object-fit:cover;
    opacity: 1;
  }

  /* Navbar css start------------///////////////////////////////////////////// */
.navbar{
    box-shadow: 1px 1px 15px rgb(35, 27, 77);
    position: sticky;
    top: 0px;
    left: 0px;
    /* background-color: #cab8fc; */
    z-index: 2;
  }
  .nav-item
  {
      margin: auto;
      padding-right:20px ;
  }
  .active{
    font-weight: 600;
    border-bottom: 1px solid rgb(61, 90, 255);
  }
  .nav-link:hover
  {
   text-shadow: 5px 2px 20px rgb(0, 30, 199);
   font-size: 17px;
  }
  
  .navbar-dark .navbar-toggler-icon{
      background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 20, 300, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  #blue{
      color: rgb(78, 95, 248);
  }
  #home,#contact,#about,#contribute{
    color: white;
  }
  .navbar-brand{
   font-weight: bolder;
   font-size: 25px;
  }
  #college{
    color: rgb(49, 160, 114);
  }
  #help{
    color: rgb(78, 95, 248);
  }
  #blue{
    color: rgb(78, 95, 248);
  }


  ///////////////////////////////////////
  .RaagDiv{
    width: 100%;
    height: 92.3vh !important;
    /* background-color: rgb(63, 0, 180); */
  }
  .RaagDiv .rmg{
    display: grid;
    place-content: center;
    height: 92.3vh;
  }
  .RaagDiv .rcg{
    display: grid;
    place-content: center;
     color: white;
     text-shadow: 5px 5px 10px black;
  }
  .rcg p {
    text-align: center;
    font-size: 33px;
    font-family: 'Cedarville Cursive', cursive;
  }
  .rcg p span{
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
  }
  .rcg section{
    text-align: center;
    font-family: cursive;
  }
  .rcg img{
    width: 70px;
    height: auto;
    margin: auto;
    margin-top: 50px;
  }
  .RaagDiv #Rgmg{
    width: 90%;
    height: auto;
  }

  @media (max-width:990px) {
    .RaagDiv .rmg{
      height: 45vh;
    }
    .RaagDiv .rcg{
       height: 45vh;
    }
    
    .RaagDiv #Rgmg{
      width: 48vw;
      height: auto;
    }
  }
  @media (max-width:500px) {
    .RaagDiv #Rgmg{
      width: 80vw;
      height: auto;
    }
  }